<section class="mt-20 footer">
    <div class="wrapper">
        <div class="subscription">
            <div>
                <h3 class="text-2xl font-semibold">Subscribe Newsletter</h3>
                <p>Subscribe newsletter to get 5% on all products.</p>
            </div>

            <div class="subs-form">
                <form class="space-x-1" action="#" method="post">
                    <input type="search" name="search" id="search" placeholder="Email">
                    <button class="p-3 bg-gray-500" type="submit">Subscribe</button>
                </form>
            </div>

            <div class="ml-3 space-x-3">
                <a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-youtube fa-lg"></i></a>
            </div>
        </div>

        <div class="bottom">
            <a class="text-2xl" href="#">Snap<b>Buy</b></a>
            <div>
                <p class="mb-5 text-lg font-semibold">Shop Men</p>
                <nav class="flex flex-col space-y-3">
                    <a href="#">Clothing Fashion</a>
                    <a href="#">Winter</a>
                    <a href="#">Summer</a>
                    <a href="#">Formal</a>
                    <a href="#">Casual</a>
                </nav>
            </div>
            <div>
                <p class="mb-5 text-lg font-semibold">Shop Women</p>
                <nav class="flex flex-col space-y-3">
                    <a href="#">Clothing Fashion</a>
                    <a href="#">Winter</a>
                    <a href="#">Summer</a>
                    <a href="#">Formal</a>
                    <a href="#">Casual</a>
                </nav>
            </div>
            <div>
                <p class="mb-5 text-lg font-semibold">Baby Collection</p>
                <nav class="flex flex-col space-y-3">
                    <a href="#">Clothing Fashion</a>
                    <a href="#">Winter</a>
                    <a href="#">Summer</a>
                    <a href="#">Formal</a>
                    <a href="#">Casual</a>
                </nav>
            </div>
            <div>
                <p class="mb-5 text-lg font-semibold">Quick Links</p>
                <nav class="flex flex-col space-y-3">
                    <a href="#">Track Your Order</a>
                    <a href="#">Support</a>
                    <a href="#">FAQ</a>
                    <a href="#">Carrier</a>
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                </nav>
            </div>
        </div>

        <div class="py-5 text-center">
            <p>Copyright ©2024 All rights reserved | Designed And Developed by Joseph Dugho </p>
        </div>

    </div>
</section>