<section class="top-nav">
    <div class="wrapper">
        <nav class="space-x-5">
            <a href="#">About Us</a>
            <a href="#">Privacy</a>
            <a href="#">FAQ</a>
            <a href="#">Careers</a>
        </nav>
        <nav class="flex space-x-5">
            <a href="#">My Wishlist</a>
            <a href="#">Track Your Order</a>
            <div class="ml-3 space-x-3">
                <a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-youtube fa-lg"></i></a>
            </div>
        </nav>
    </div>
</section>

<section id="main-navigation" class="main-nav">
    <div class="wrapper">

        <a class="brand" href="{% url 'shop:index' %}">Snap<b>Buy</b></a>
        
        <nav class="collapsible-nav hidden">
            <a href="#">Home</a>
            <a href="#">Men</a>
            <a href="#">Women</a>
            <a href="#">Baby Collection</a>
            <a href="#">Pages</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
        </nav>

        <div class="space-x-5 text-2xl">
            <button id="search-btn"><i class="fa-solid fa-magnifying-glass hover:text-indigo-800"></i></button>
            {% if user.is_authenticated %}
                <a href="{% url 'shop:dashboard' username=user.username %}"><i class="fa-regular fa-user"></i></a>
            {% else %}
                <a href="{% url 'shop:login' %}"><i class="fa-regular fa-user"></i></a>
            {% endif %}
            <a href="{% url 'shop:view_cart' %}"><i class="fa-solid fa-cart-shopping"></i><span class="cart-count"></span></a>
        </div>

        <button class="collapsible-btn"><i class="fa-solid fa-bars"></i></button>

        <div class="search-bar" id="search-bar">
            <form class="w-full" action="#">
                <input class="w-full p-2 focus:outline-none bg-red-200" type="search" name="search" id="search">
            </form>
        </div>

    </div>
</section>