<section class="text-center text-white bg-indigo-800">
    <p class="py-2">Sale Up To 50% Biggest Discounts. Hurry! Limited Perriod Offer <a href="#" class="underline">Shop Now</a></p>
</section>


<!-- Slider main container -->
<section class="swiper w-full h-[450px]" id="hero-slider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
    <!-- Slides -->

        <div class="swiper-slide bg-gray-200">
            <div class="wrapper justify-start">
                <div class="slide">
                    <p class="cursive-font text-3xl">Fashion Sale</p>
                    <h1 class="text-5xl font-semibold text-indigo-800">Minimal Menz Style</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Fusce pellentesque nibh neque, at volutpat dui congue ornare.
                        Ut dignissim velit a lobortis scelerisque. Suspendisse potenti.</p>
                    <a href="#">SHOP NOW</a>
                </div>
            </div>
        </div>

        <div class="swiper-slide bg-gray-400">
            <div class="wrapper justify-end">
                <div class="slide">
                    <p class="cursive-font text-3xl">Fashion Sale</p>
                    <h1 class="text-5xl font-semibold text-indigo-800">Minimal Menz Style</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Fusce pellentesque nibh neque, at volutpat dui congue ornare.
                        Ut dignissim velit a lobortis scelerisque. Suspendisse potenti.</p>
                    <a href="#">SHOP NOW</a>
                </div>
            </div>
        </div>

    </div>

    <button class="swiper-button-prev"></button>
    <button class="swiper-button-next"></button>

</section>