{% extends "shop/base.html" %}
{% load static %}

{% block main %}

    {% include "shop/parts/slider.html" %}


    <section class="mt-20 cards-nav">
        <div class="wrapper">
            {% for i in context.links %}
            <div class="card group"> 
                <div class="card-image group-hover:scale-110">
                    <img class="opacity-50 -translate-y-1/2 group-hover:blur-sm" src="{% static i.image %}">
                </div>
                <a class="card-link group-hover:mt-44" href="{% url i.url %}">
                    <p class="text-white drop-shadow-md group-hover:mb-0">{{ i.text }}</p>
                    <span class="font-semibold group-hover:opacity-100">Shop Now</span>
                </a>
            </div>
            {% endfor %}


        </div>
    </section>


    <section class="mt-20 trend">
        <div class="wrapper">
            <div class="trend-tab">
                <h2 class="text-3xl font-semibold">Trending This Week</h2>
                <div class="space-x-5">
                    <button class="tab-btn" data-tab="tab-one">Men</button>
                    <button class="tab-btn" data-tab="tab-two">Women</button>
                    <button class="tab-btn" data-tab="tab-three">Baby</button>
                    <button class="tab-btn" data-tab="tab-four">Fashion</button>
                </div>
            </div>


            <div class="tab-content">
                {% for tab in context.tabs %}
                <div class="tab-panel {% if forloop.first %}{% else %}hidden{% endif %}" data-tab-content="tab-{{ tab.data }}">
                    <!-- Slider main container -->
                    <div class="swiper" id="trending-slider">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                        <!-- Slides -->
                            
                            {% for item in tab.products %}
                            <div class="swiper-slide relative group">
                                <div class="choice-btn group-hover:opacity-100">
                                    <ul class="flex shadow bg-white">
                                        <li><i class="fa-solid fa-cart-shopping text-2xl"></i></li>
                                        <li><i class="fa-regular fa-heart text-2xl"></i></li>
                                        <li><i class="fa-solid fa-magnifying-glass-plus text-2xl"></i></li>
                                    </ul>
                                </div>

                                <a href="#" class="block text-white">
                                    <div class="overflow-hidden h-96">
                                        <img class="h-96 object-cover transition-all duration-500 ease-in-out group-hover:scale-105" src="{% static item.image %}">
                                    </div>
                                    <div class="flex flex-col py-5 text-center text-white bg-indigo-800 ">
                                        <p class="transition-all duration-500 ease-in-out">{{ item.name }}</p>
                                        <div>
                                            <span>{{ item.price }}</span>
                                            <!--<span class="line-through">$120.00</span>-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                    
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                {% endfor %}



            </div>
        </div>
    </section>

    <section class="mt-20 testimonial">
        <div class="wrapper">
            <!-- Slider main container -->
            <div class="swiper" id="testimonial-slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->

                    {% for item in context.testimonials %}
                    <div class="swiper-slide">
                        <div class="testimonial-slide">
                            <h2>Customer Testimonial</h2>
                            <p>{{ item.comment }}</p>
                            <div class="testimonial-author">
                                <div class="size-14 rounded-full overflow-hidden">
                                    <img class="-translate-y-5" src="{% static item.image %}">
                                </div>
                                <div class="flex flex-col">
                                    <span class="font-semibold">{{ item.name }}</span>
                                    <span>{{ item.role }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>
    </section>

    <section class="mt-20 yml">
        <div class="wrapper">

            <h2>You May Like</h2>

            <div class="yml-wrapper">

                {% for item in context.yml %}
                <div class="yml-card group">
                    <div class="choice-btn group-hover:opacity-100">
                        <ul class="flex shadow bg-white">
                            <li><i class="fa-solid fa-cart-shopping text-2xl"></i></li>
                            <li><i class="fa-regular fa-heart text-2xl"></i></li>
                            <li><i class="fa-solid fa-magnifying-glass-plus text-2xl"></i></li>
                        </ul>
                    </div>

                    <a href="#" class="product-link">
                        <div class="overflow-hidden h-96 bg-gray-200">
                            <img class="group-hover:scale-105" src="{% static item.image %}">
                        </div>
                        <div class="flex flex-col py-5 text-center text-white bg-indigo-800">
                            <p class="group-hover:font-semibold group-hover:text-gray-300">{{ item.name }}</p>
                            <div>
                                <span>{{ item.price }}</span>
                                <span class="line-through">{{ item.discount }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>




    <section class="mt-20 latest-news">
        <div class="wrapper">
            <h2>Latest News</h2>
            <div class="cards">
                {% for news in context.news %}
                <div class="card">
                    <div class="card-image">
                        <img class="w-full h-full object-cover" src="{% static news.image %}">
                    </div>
                    <span>Fashion Tips</span>
                    <h3 class="text-xl font-semibold">{{ news.title }}</h3>
                    <p>{{ news.content }}</p>
                    <a class="hover:underline" href="#">Read More</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="mt-20 services">
        <div class="wrapper">

            <div class="services-group">
                <div class="service">
                    <i class="text-4xl fa-solid fa-truck-fast"></i>
                    <p class="text-xl font-semibold">Fast & Free Delivery</p>
                    <p>Free delivery on all orders</p>
                </div>
    
                <div class="service">
                    <i class="text-4xl fa-regular fa-credit-card"></i>
                    <p class="text-xl font-semibold">Secure Payment</p>
                    <p>Free delivery on all orders</p>
                </div>
    
                <div class="service">
                    <i class="text-4xl fa-solid fa-money-bill-transfer"></i>
                    <p class="text-xl font-semibold">Money Back Guarantee</p>
                    <p>Free delivery on all orders</p>
                </div>
    
                <div class="service">
                    <i class="text-4xl fa-solid fa-headset"></i>
                    <p class="text-xl font-semibold">Online Support</p>
                    <p>Free delivery on all orders</p>
                </div>
            </div>

        </div>
    </section>
    
{% endblock %}