{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-----------GOOGLE FONTS----------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap" rel="stylesheet">

    <!-----------FONTAWESOME----------->
    <script src="https://kit.fontawesome.com/adb0c386ea.js" crossorigin="anonymous"></script>

    <!-----------MAIN CSS----------->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/debug.css' %}">

    <!-----------SWIPER JS----------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-----------GSAP----------->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>  

    <title>{{ title }}</title>
</head>
<body>


<div class="login flex flex-col justify-center items-center w-full h-screen">
    <a class="block mb-5 text-center text-white text-5xl hover:text-white" href="{% url 'shop:index' %}">Snap<b>Buy</b></a>
    <div class="w-3/4 p-10 rounded-md shadow space-y-5 bg-white md:w-1/3">
        <h1 class="text-3xl text-center font-semibold text-indigo-800">Login</h1>
        <form class="login-form flex flex-col" action="{% url 'shop:login' %}" method="POST" novalidate>
            {% csrf_token %}
            {{ form }}
            <button class="py-2 text-white rounded bg-indigo-800 transition-all hover:bg-indigo-600" type="submit">Sign In</button>
        </form>
        <p class="text-center">Don’t have an account? <a class="font-semibold text-indigo-800" href="{% url 'shop:signup' %}">Sign Up</a></p>
    </div>
</div>

</body>
</html>
