@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Montserrat", Verdana, sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .cursive-font {
        font-family: "Send Flowers", cursive;
        font-weight: 400;
        font-style: normal;
    }

    a {
        @apply transition-all hover:text-indigo-800
    }

    body {
        @apply text-gray-900
    }


    .top-nav {
        @apply hidden border-b border-b-gray-200
        md:block
    }

    .top-nav > .wrapper {
        @apply container mx-auto py-3 flex justify-between text-xs
    }    
      
    .main-nav > .wrapper {
        @apply relative container mx-auto px-10 py-5 flex justify-between items-center
        md:p-0
    }

    .main-nav > .wrapper > .brand {
        @apply text-2xl grow
        md:grow-0
    }

    .main-nav > .wrapper > .collapsible-nav {
        @apply absolute top-[72px] left-0 z-50 w-full border-t border-t-gray-200 bg-white
        md:static md:w-auto md:flex md:space-x-10 md:font-semibold md:border-0
    }

    .collapsible-nav a {
        @apply block px-10 py-2
        md:px-0 md:py-10
    }

    .collapsible-btn {
        @apply ml-5 text-2xl
        md:hidden
    }

    .search-bar {
        @apply absolute top-[72px] left-0 z-50 w-full h-0 px-10 overflow-hidden transition-all duration-200 ease-in-out bg-gray-200
        md:top-[104px] md:p-0
    }

    #hero-slider .wrapper {
        @apply container mx-auto px-5 h-full flex items-center
    }

    #hero-slider .wrapper > .slide {
        @apply px-5 space-y-5 text-center
        md:w-2/5 md:mx-14
    }

    #hero-slider .wrapper > .slide a {
        @apply inline-block px-6 py-3 font-semibold text-white bg-indigo-800
        hover:bg-indigo-600
    }

    .cards-nav > .wrapper {
        @apply container mx-auto px-10 space-y-5
        md:flex md:p-0 md:space-x-5 md:space-y-0
    }

    .cards-nav .card {
        @apply relative h-[280px] text-center overflow-hidden
        md:w-4/12
    }

    .cards-nav .card > .card-image {
        @apply transition-all duration-700
    }

    .cards-nav .card > .card-link {
        @apply absolute top-0 /*left-50*/ -translate-x-1/2 mt-52 transition-all duration-700 
    }

    .card-link p {
        @apply text-xl font-semibold transition-all duration-700 ease-in-out
    }

    .card-link span {
        @apply inline-block py-5 underline opacity-0 transition-all duration-700 text-indigo-800
    }

    .trend > .wrapper {
        @apply container mx-auto px-10
        md:p-0
    }

    .trend > .wrapper > .trend-tab {
        @apply mb-10 text-center border-b border-b-gray-200
        md:flex md:justify-between md:items-center
    }

    .trend-tab button {
        @apply px-3 py-10 transition-all
        hover:shadow-[0_4px_0_0_#3730a3] hover:font-semibold hover:text-indigo-800
    }

    .choice-btn{
        @apply absolute top-0 left-0 w-full flex justify-center translate-y-72 opacity-0 z-50 transition-all duration-500 ease-in-out 
    }

    .choice-btn li {
        @apply p-5 transition-all duration-500 ease-in-out 
        hover:bg-indigo-800 hover:text-white
    }



    .testimonial {
        @apply bg-indigo-200
    }

    .testimonial > .wrapper {
        @apply container mx-auto py-20 text-center
    }

    .testimonial > .wrapper .testimonial-slide {
        @apply mx-10 space-y-10
        md:mx-40
    }

    .testimonial-slide > h2 {
        @apply text-3xl font-semibold
    }

    .testimonial-slide > .testimonial-author {
        @apply flex justify-center items-center space-x-5
    }

    .yml > .wrapper {
        @apply container mx-auto px-10
        md:p-0
    }

    .yml > .wrapper > h2 {
        @apply mb-10 text-3xl text-center font-semibold
    }

    .yml-wrapper {
        @apply block space-y-5
        md:flex md:space-x-5 md:space-y-0
    }

    .yml-card {
        @apply relative w-full bg-gray-400
        md:w-3/12
    }

    .yml-navbar {
        @apply absolute top-0 left-0 w-full flex justify-center translate-y-72 opacity-0 z-50 transition-all duration-500 ease-in-out
    }

    .yml-navbar li {
        @apply p-5 transition-all duration-500 ease-in-out
    }

    .product-link {
        @apply block
    }

    .product-link img {
        @apply h-96 object-cover transition-all duration-500 ease-in-out
    }

    .latest-news > .wrapper {
        @apply container mx-auto px-10
        md:p-0
    }

    .latest-news h2 {
        @apply mb-10 text-3xl text-center font-semibold
    }

    .latest-news .cards {
        @apply space-y-10
        md:flex md:space-x-5 md:space-y-0
    }

    .latest-news .card {
        @apply space-y-3
        md:flex md:flex-col md:w-4/12
    }

    .latest-news .card > .card-image {
        @apply mb-5 overflow-hidden h-96 bg-gray-200
    }

    .latest-news .card a {
        @apply block
    }

    .services > .wrapper {
        @apply container mx-auto px-5
        md:p-0
    }

    .services-group {
        @apply space-y-5
        md:flex md:space-y-0
    }

    .service {
        @apply text-center space-y-3
        md:w-3/12 md:border-r md:border-gray-200
    }

    .service:last-child {
        @apply text-center space-y-3
        md:w-3/12 md:border-0
    }

    .footer {
        @apply bg-indigo-800 text-white

    }

    .footer > .wrapper {
        @apply container mx-auto px-10
        md:p-0
    }

    .footer > .wrapper a {
        @apply hover:text-white hover:underline
    }

    .footer .subscription {
        @apply py-14 border-b border-white space-y-10
        md:flex md:justify-between md:items-center md:space-y-0
    }

    .subs-form input {
        @apply p-3
        md:w-96
    }

    .footer .bottom {
        @apply py-14 border-b border-white space-y-10
        md:flex md:justify-between md:space-y-0
    }

    .login-form > div {
        @apply flex flex-col mb-5
    }

    .login-form > div input {
        @apply p-2 rounded border border-gray-300 focus:outline-2 focus:outline-indigo-800
    }


}